/* .CalendarDropDown .react-select__control--is-focused .react-select__indicator-separator {
    display: none;
}

.CalendarDropDown .react-select__control:hover,
.react-select__control--is-focused,
.react-select__control--is-selected {
    outline: none; */
/* } */

.calendar {
    display: flex;
    z-index: 1;
}

.calendar-dropdown {
    border: none;
    margin-right: 10px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    /* background-color: white; */
    font-size: 14px;
    outline: none;
    overflow: hidden !important;
}